<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.etamong.remote-midi-server</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/remote-midi-server</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/usr/local/share/remote-midi-server</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/usr/local/var/log/remote-midi-server.log</string>

    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/remote-midi-server.error.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist>
